<div class="container">
  <h1>
    Welcome to {{ title }}!
    <div class="what">
      <span class="glyphicon glyphicon-user"></span> User 
    </div>
  </h1>
  <div class="row">
    <div
      class="col-xs-6"
      style="background-color: green"> 
      <br> 
      <br> 
      <br> 
    </div>
    <div
      class="col-xs-6"
      style="background-color: red"> 
      <br> 
      <br> 
      <br> 
    </div>
  </div>
</div>
<div>
  <ui-view></ui-view>
</div>
