<div class="container">
  <h1>
    Welcome to {{ title }}!
    <div class="what"><span class="glyphicon glyphicon-alert"></span>
      Alert
    </div>
  </h1>
  <div class="row">
    <div
      class="col-xs-6"
      style="background-color: purple"> 
      <br> 
      <br> 
      <br> 
    </div>
    <div
      class="col-xs-6"
      style="background-color: orange"> 
      <br> 
      <br> 
      <br> 
    </div>
  </div>
</div>
<div>
  <ui-view></ui-view>
</div>
